* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #5d215b;
    padding: 20px;
    text-align: center;
    color: rgb(253, 253, 253);
}

.certificados {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.certificado {
    background-color: rgb(255, 253, 253);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.certificado h2 {
    color: #5b246d;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3c1a34;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    padding: 1px;

}

.cores a:hover {
    color: white;
}

